.credential-form-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 22px;
  max-width: 530px;

  .text-block {
    margin-bottom: 1rem;
    .paragraph {
      margin-top: 1rem;
    }
  }
  input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid rgba(51, 127, 214, 0.863);
    display: inline-block;
    padding: 10px 14px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Roboto Medium', sans-serif;
    font-size: 16px;
}
}
